{% extends 'base.html.twig' %}

{% block title %}Gestiones{% endblock %}

{% block User %}{{ user }}{% endblock %}

{% block body %}

<main class="py-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Gestiones</div>
                    <div class="card-body">
                        <div id="gestiones">
                            {% for gestion in gestiones %}
                            {% if not gestion.id is divisible by(2) %}
                            <div class="row">
                                {% endif %}
                                <div class="col">
                                    <button data-gestion-id="{{ gestion.id }}"
                                        class="btn-gestion container btn btn-primary btn-lg mx-1 my-1 justify-content-center">{{
                                        gestion.nombreGestion }}</button>
                                </div>
                                {% if gestion.id is divisible by(2) %}
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/gestiones.js') }}"></script>
{% endblock %}